@font-face {
  font-family: "FuturaPT";
  src: url("../fonts/FuturaBoldCondensedBT.ttf");
}
@font-face {
  font-family: "sfpro";
  src: url("../fonts/SF-Pro-Text-Regular.ttf");
}
.contact-wrapper {
  width: 100vw;
  height: 100vh;
  background: #1876B7;
  overflow: hidden;
}
.contact-wrapper .contact-main-container {
  height: 100%;
  display: grid;
  grid-template-columns: [col-1] 50vw [col-2] 1vw [col-3] 99vw [end];
  grid-template-rows: [row-1] 100vh [end];
  transition: 1s;
  transform: translateX(0);
  overflow: hidden;
}
.contact-wrapper .contact-quote {
  grid-column-start: col-1;
  grid-column-end: col-2;
  grid-row-start: row-1;
  grid-row-end: span end;
  background-color: #DCDCDC;
  padding-top: 4vw;
}
.contact-wrapper .contact-quote .contact-quote-heading {
  width: 100%;
  height: 2vw;
  font-size: 3.5em;
  font-family: "FuturaPT";
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3vw;
  letter-spacing: 1vw;
}
.contact-wrapper .contact-quote .image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 31vh;
}
.contact-wrapper .contact-quote .image img {
  width: 264px;
  height: 264px;
  border-radius: 50%;
  background: #7E7E7E;
}
.contact-wrapper .contact-quote .quote-box {
  width: 70%;
  margin: 0 auto;
  font-size: 2em;
  font-family: "FuturaPT";
  color: #7E7E7E;
}
.contact-wrapper .contact-container {
  grid-column-start: col-3;
  grid-column-end: end;
  grid-row-start: row-1;
  grid-row-end: end;
  background-color: #7E7E7E;
  overflow: hidden;
}
.contact-wrapper .contact-container .cards-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: wrap;
  /* flex-direction: column; */
  transition: 0.75s;
}
.contact-wrapper .contact-container .cards-container .cards {
  height: 360px;
  width: 321px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "sfpro";
}
.contact-wrapper .contact-container .cards-container .cards .card-heading {
  width: 100%;
  font-size: 23px;
  letter-spacing: 2.84px;
  margin-bottom: 10px;
  height: fit-content;
  text-align: center;
  font-weight: bold;
}
.contact-wrapper .contact-container .cards-container .cards img {
  width: 176px;
  height: 176px;
  background: #DCDCDC;
  margin: 0 auto;
  margin-bottom: 10px;
}
.contact-wrapper .contact-container .cards-container .cards .card-name {
  height: 35px;
  font-size: 21px;
}
.contact-wrapper .contact-container .cards-container .cards .card-number {
  color: rgba(255, 255, 255, 0.5);
}
.contact-wrapper .contact-container .cards-container .cards .card-id {
  font-size: 15px;
  height: 30px;
  color: rgba(255, 255, 255, 0.6);
}
.contact-wrapper .contact-container .arrow {
  display: "flex";
  grid-column-start: col-2;
  grid-column-end: col-3;
  grid-row-start: row-1;
  grid-row-end: end;
  justify-content: center;
  align-items: center;
  background: #7E7E7E;
}

/*# sourceMappingURL=contact-min.css.map */
