body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "FuturaPT";
  src: url("../fonts/FuturaBoldCondensedBT.ttf");
  font-family: "FuturaPT";
  src: url("../fonts/FuturaBoldCondensedBT.ttf");
}

.main-wrapper {
  width: 100%;
  height: 200vh;
  background: transparent linear-gradient(180deg, #288aff 0%, #72b2ff 100%) 0%
    0% no-repeat padding-box;
}

.main-wrapper > .navbar {
  width: 96%;
  height: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2% 0 2%;
}

.main-wrapper > .navbar > span {
  color: white;
  font-size: 2.5em;
}

.main-wrapper > .navbar > .logo {
  width: 80px;
  height: 80px;
  background-image: url("/img/bosm-logo.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.main-wrapper > .sponsers-div {
  width: 100%;
  height: 88vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: column;
}

.main-wrapper > .sponsers-div > span {
  font-family: FuturaPT;
  font-size: 3em;
  color: white;
  letter-spacing: 5px;
}

.main-wrapper > .sponsers-div > .main-sponsers {
  height: 85%;
  min-width: auto;
  max-width: 90%;
  overflow: auto;
  display: block;
  position: relative;
}

.main-wrapper > .sponsers-div > .main-sponsers > .spons-div {
  height: 300px;
  width: 300px;
  display: inline-block;
  margin: 10px;
  background: beige;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.main-wrapper > .food-sponsers-div {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: column;
}

.main-wrapper > .food-sponsers-div > span {
  font-family: FuturaPT;
  font-size: 3em;
  color: white;
  letter-spacing: 5px;
}

.main-wrapper > .food-sponsers-div > .main-sponsers {
  height: 85%;
  min-width: auto;
  max-width: 90%;
  overflow: auto;
  display: block;
  position: relative;
}

.main-wrapper > .food-sponsers-div > .main-sponsers > .food-spons {
  height: 300px;
  width: 300px;
  display: inline-block;
  margin: 10px;
  background: beige;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 500px) {
  .main-wrapper > .sponsers-div > .main-sponsers > .spons-div {
    height: 300px;
    width: 300px;
    display: inline-block;
    position: relative;
    left: 50%;
    margin: 10px 0 10px 0;
    transform: translate(-50%);
  }
  .main-wrapper > .food-sponsers-div > .main-sponsers > .food-spons {
    height: 300px;
    width: 300px;
    display: inline-block;
    position: relative;
    left: 50%;
    margin: 10px 0 10px 0;
    transform: translate(-50%);
  }
  .main-wrapper > .navbar > .logo {
    width: 70px;
    height: 70px;
  }
  .main-wrapper > .navbar {
    width: 93%;
    padding: 0 5% 0 2%;
  }
  .main-wrapper > .sponsers-div > span {
    font-size: 2em;
  }
}

@media (max-width: 400px) {
  .main-wrapper > .navbar > .logo {
    width: 50px;
    height: 50px;
  }
  .main-wrapper > .navbar > span {
    color: white;
    font-size: 2.3em;
  }
  .main-wrapper > .sponsers-div > .main-sponsers > .spons-div {
    height: 200px;
    width: 200px;
  }
  .main-wrapper > .food-sponsers-div > span {
    font-family: FuturaPT;
    font-size: 2em;
    color: white;
    letter-spacing: 5px;
  }
  .main-wrapper > .food-sponsers-div > .main-sponsers > .food-spons {
    height: 200px;
    width: 200px;
  }
}
