@font-face {
  font-family: "futbold";
  src: url("../fonts/FuturaBoldCondensedBT.ttf");
}

@font-face {
  font-family: "sfpro";
  src: url("../fonts/SF-Pro-Text-Regular.ttf");
}

.about-div {
  height: 100vh;
  width: 100%;
  background: linear-gradient(180deg, #5600ff 0%, #288aff 100%);
  position: relative;
  .circle {
    width: 500px;
    height: 500px;
    background: url("../img/Ellipse.png") no-repeat center center/cover;
    position: absolute;
    left: calc(50vw - 250px);
    top: 20%;
    transform: translateY(-50%);
    animation: rotate-ellipse 45s linear infinite;
  }
  .dash1 {
    height: 2px;
    width: 20%;
    background-color: #fff;
    position: absolute;
    right: 0;
    top: 15%;
    opacity: 0.2;
    animation: translate-div 60s ease-in-out infinite;
  }
  .dash2 {
    height: 2px;
    width: 13%;
    background-color: #fff;
    position: absolute;
    right: 0;
    top: 14%;
    opacity: 0.2;
    animation: translate-div 70s ease-in-out infinite;
  }
  @keyframes rotate-ellipse {
    from {
      transform: translateY(-50%) rotate(0);
    }
    to {
      transform: translateY(-50%) rotate(360deg);
    }
  }
  @keyframes translate-div {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100vw);
    }
  }
  .clip-div {
    height: 100%;
    width: 100%;
    background:  #FED401;
    clip-path: polygon(0 0, 61% 0, 34% 100%, 0% 100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }
  .about-content {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    z-index: 10;
    .slider-div {
      width: 50%;
      height: 80%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-flow: column;
      .heading {
        font-family: futbold;
        color: #fffffe;
        font-size: 5em;
        letter-spacing: 2vw;
      }
      .img-div {
        width: 52%;
        height: 30%;
        border-radius: 10px;
        box-shadow: 0 0 25px gray;
        position: relative;
        overflow-x: hidden;
        .img1 {
          width: 100%;
          height: 100%;
          border-radius: 10px;
          background: url("../img/bosm-teaser.png");
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          position: absolute;
          transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
          display: flex;
          justify-content: center;
          align-items: center;
          .play-btn {
            font-size: 4em;
            color: white;
            cursor: pointer;
            transition: transform 0.5s ease-in-out;
            &:hover {
              transform: scale(1.1);
            }
          }
        }
        .img2 {
          width: 100%;
          height: 100%;
          border-radius: 10px;
          background: url("../img/bosm-after.png");
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          position: absolute;
          left: 100%;
          z-index: 22;
          transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
          display: flex;
          justify-content: center;
          align-items: center;
          .play-btn {
            font-size: 4em;
            color: white;
            cursor: pointer;
            transition: transform 0.5s ease-in-out;
            &:hover {
              transform: scale(1.1);
            }
          }
        }
        .img3 {
          width: 100%;
          height: 100%;
          border-radius: 10px;
          background: url("../img/bosm-street.png");
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          position: absolute;
          left: 200%;
          transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
          display: flex;
          justify-content: center;
          align-items: center;
          .play-btn {
            font-size: 4em;
            text-decoration: none;
            color: white;
            cursor: pointer;
            transition: transform 0.5s ease-in-out;
            &:hover {
              transform: scale(1.1);
            }
          }
        }
      }
      .nav-dots {
        width: 25%;
        height: 7%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .dot {
          width: 7px;
          height: 7px;
          border-radius: 50%;
          border: 3px solid #ffffff;
          cursor: pointer;
          transition: all 0.5s ease-in-out;
          &:nth-child(1) {

            background-color: #fffffe;
          }
        }
      }
      .tweet-div {
        height: 15%;
        width: 65%;
        background-color: #ffffff;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: sfpro;
        color: #4a4a4a;
        font-size: 1.5em;
        position: relative;
        overflow-x: hidden;
        .tweet-text{
         position: absolute;
         width: 100%;
         height: 100%;
         background-color: #fffffe;
         border-radius: 10px;
         display: flex;
         justify-content: center;
         align-items: center;
         transition: all 0.5s ease-in-out;
         overflow-y: hidden;
         &:nth-child(2){
           left: 100%;
         }
         &:nth-child(3){
          left: 200%;
        }
        &:nth-child(4){
          left: 300%;
        }
        &:nth-child(5){
          left: 400%;
        }
        .tweet-pic{
          width: 80px;
          height: 80px;
          border-radius: 50%;
          background-color: #5600ff;
        }
        .tweet-info{
          height: 100%;
          width: 70%;
          display: flex;
          justify-content: space-evenly;
          align-items: flex-start;
          flex-flow: column;
          padding-left: 3%;
          padding-top: 3%;
          padding-bottom: 3%; 
          .tweet-name{
            color: #171717;
            font-family: sfpro;
            font-size: 0.7em;
            margin-top: 2%;
          }
          .tweet-id{
            color: #9D9D9D;
            font-family: sfpro;
            font-size: 0.4em;
            margin-bottom: 3%;
          }
          .tweet{
            color: #4A4A4A;
            font-family: sfpro;
            font-size: 0.7em;
            margin-bottom: 4%;
          }
          .tweet-date{
            color: #9D9D9D;
            font-family: sfpro;
            font-size: 0.5em;
            margin-bottom: 4%;
          }
        }
        }
      }
    }
    .content-div {
      width: 50%;
      height: 100%;
      text-align: start;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column;
      span {
        width: 80%;
        font-size: 1.2em;
        color: white;
        font-family: sfpro;
        margin-left: 10%;
        text-align: center;
      }
    }
  }
}
