@font-face {
  src: url("../fonts/FuturaBoldCondensedBT.ttf");
  font-family: "Futura";
}

@font-face {
  font-family: "sfpro";
  src: url("../fonts/SF-Pro-Text-Regular.ttf");
}

@font-face {
  font-family: "spantaran";
  src: url("../fonts/Spantaran\ \(DEMO\).otf");
}

@font-face {
  font-family: "futura-light";
  src: url("../fonts/FuturaLightCondensedBT.ttf");
}

.content-wrapper {
  opacity: 0;
  overflow-y: scroll;
  width: 100vw;
  overflow-x: hidden;
  height: 100vh;
}

.landing-wrapper {
  height: 100vh;
  width: 100%;
  background: transparent linear-gradient(180deg, #f7dc52 0%, #ffd500 100%) 0% 0% no-repeat padding-box;
  position: relative;
  display: flex;
	align-items: center;
  overflow-x: hidden;

  .landing-clip {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background:  transparent linear-gradient(136deg, #6657A3 0%, #1800FF 100%) 0% 0% no-repeat padding-box;
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#342c5f', endColorstr='#504482', GradientType=1 );
    clip-path: polygon(100% 0, 100% 30%, 100% 100%, 100% 100%, 100% 0);
    // animation: grow-clip 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
  }

  @keyframes grow-clip {
    from {
      clip-path: polygon(100% 0, 100% 30%, 100% 100%, 100% 100%, 100% 0);
    }
    to {
      clip-path: polygon(65% 0, 40% 75%, 61% 100%, 100% 100%, 100% 0);
    }
  }

  .hamburger {
    position: absolute;
    background: transparent linear-gradient(158deg, #3E2CA5 0%, #210AF6 100%) 0% 0% no-repeat padding-box;
    right: 0;
		top: 0;
		transform: translateX(370px);
		transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    height: 100%;
    width: 370px;
    z-index: 30;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

		.close {
			position: absolute;
			height: 30px;
			width: 30px;
			background: url("../img/close.png") no-repeat center center/cover;
			right: 0;
			top: 0;
			margin-top: 20px;
			margin-right: 20px;

			&:hover {
				cursor: pointer;
			}
		}

    .ham-item {
      width: 100%;
      padding: 30px 0;
      font-size: 2em;
      text-align: center;
      color: #fff;
      font-family: "futura";
      letter-spacing: 2px;

      &:hover {
        cursor: pointer;
			}
    }
  }

  .mobile-hamburger {
    position: absolute;
    background: transparent linear-gradient(155deg, #3E2CAF 10%, #210AF6 90%) 0% 0% no-repeat padding-box;
    right: 0;
		top: 0;
		transform: translateX(-100vw);
		transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    height: 100%;
    width: 100vw;
    z-index: 35;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    .close {
      position: absolute;
			height: 30px;
			width: 30px;
			background: url("../img/close.png") no-repeat center center/cover;
			left: 0;
			top: 0;
			margin-top: 10px;
			margin-left: 10px;
    }
<<<<<<< HEAD
    a {
      color: #fff;
      text-decoration: none;
      .ham-item {
        width: 100%;
        padding: 30px 0;
        font-size: 2em;
        text-align: center;
        color: #fff;
        font-family: "futura";
        letter-spacing: 2px;
      }
=======
    .ham-item {
      width: 100%;
      padding: 20px 0;
      font-size: 2em;
      text-align: center;
      color: #fff;
      font-family: "futura";
      letter-spacing: 2px;
      
>>>>>>> d7f46d5486ca444f0d86c1933edb942102eac860
    }
  }
}

@media all and (max-width: 450px) {
  .landing-wrapper {
    background: #F3D331;

    .landing-clip {
      background: transparent linear-gradient(14deg, #1800FF 0%, #6657A3 100%) 0% 0% no-repeat padding-box;
      clip-path: polygon(100% 40%, 100% 100%, 0 100%, 0 60%);
    }

    .hamburger {
      display: none;
    }
    .mobile-hamburger {
      display: flex;
    }
  }
}

//------------- Animated background elements ---------
.ellipse-1,
.ellipse-2 {
  height: 500px;
  width: 500px;
  position: absolute;
  left: calc(50vw - 250px);
  z-index: 10;
  animation: rotate-ellipse 45s linear infinite;
}

.ellipse-1 {
  background: url("../img/Ellipse.png") no-repeat center center/cover;
}

.ellipse-2 {
  background: url("../img/Ellipse 2.png") no-repeat center center/cover;
}

@keyframes rotate-ellipse {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(360deg);
  }
}

.line-1,
.line-2,
.line-3,
.line-4 {
  height: 2px;
  width: 0;
  background-color: #fff;
  position: absolute;
  opacity: 0.5;
}

.line-1 {
  top: 23.5%;
  left: 0;
  //   animation: grow-1 0.7s cubic-bezier(0.075, 0.82, 0.165, 1) 0.6s forwards;
}

@keyframes grow-1 {
  from {
    width: 0;
  }
  to {
    width: 200px;
  }
}

.line-2 {
  top: 24.5%;
  left: 0;
  //   animation: grow-2 0.7s cubic-bezier(0.075, 0.82, 0.165, 1) 0.7s forwards;
}

@keyframes grow-2 {
  from {
    width: 0;
  }
  to {
    width: 300px;
  }
}

.line-3 {
  bottom: 20%;
  left: 0;
}

.line-4 {
  bottom: 19%;
  left: 0;
}

.line-5,
.line-6,
.line-7 {
  height: 3px;
  width: 0;
  background-color: #fff;
  position: absolute;
  opacity: 0.5;
}

.line-5 {
  bottom: 42%;
  left: 6%;
}

.line-6 {
  bottom: 38%;
  left: 49%;
  z-index: 10;
}

.line-7 {
  top: 38%;
  left: 30%;
}

.line-8,
.line-9 {
  height: 2px;
  width: 0;
  background-color: #fff;
  position: absolute;
  z-index: 20;
  opacity: 0.6;
}

.line-8 {
  top: 39%;
  right: 22%;
}

.line-9 {
  top: 48%;
  right: 23%;
}

@keyframes grow-3 {
  from {
    width: 0;
  }
  to {
    width: 60px;
  }
}

.line-10,
.line-11,
.line-12,
.line-13 {
  position: absolute;
  height: 3px;
  z-index: 20;
  width: 0;
  background-color: #fff;
  right: 0;
  opacity: 0.1;
}

.line-10 {
  top: 21.5%;
}

.line-11 {
  top: 22.5%;
}

.line-12 {
  bottom: 24%;
}

.line-13 {
  bottom: 23%;
}

.tilt-line {
  position: absolute;
  height: 80vh;
  width: 400px;
  top: 0;
  left: 20%;
  background: url("../img/tilt_line.png") no-repeat center center/cover;
}

.vertical-line {
  position: absolute;
  height: 40vh;
  width: 10px;
  top: 10%;
  right: 20%;
  background: url("../img/vertical-line.png") no-repeat center center/cover;
}

.back-asset-1 {
  position: absolute;
  background: url("../img/events-asset-03.png");
  background-size: 100% 100%;
  width: 60%;
  height: 80%;
  top: 9%;
  left: 20%;
  z-index: 10;
}

@media all and (max-width: 450px) {
  .ellipse-1,
  .ellipse-2 {
    height: 350px;
    width: 350px;
    left: calc(50vw - 175px);
  }

  .line-3,
  .line-4,
  .line-5,
  .line-6,  
  .line-7,
  .line-8,
  .line-9,
  .line-12,
  .line-13 {
    display: none;
  }
}

// -----------------------------------------------------
.bosm-header {
  font-family: "spantaran";
  // position: relative;
  color: #fff;
  width: 100%;
  font-size: 15em;
  display: flex;
  justify-content: space-around;
  z-index: 20;
  transform: translateY(200px);
  opacity: 0;
  //   animation: appear-bosm 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

.letter {
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  text-shadow: 35px 35px 75px #4e4d4d;
}

.letter:hover {
  transform: rotateY(360deg);
}

@keyframes appear-bosm {
  from {
    transform: translateY(200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media all and (max-width: 450px) {
  .bosm-header {
    font-size: 5em;
    transform: translateY(0);
    margin-bottom: -110%;
  }

  .letter {
    text-shadow: none;
  }
}

.grit,
.guts,
.glory {
  position: absolute;
  right: 8%;
  bottom: 32%;
  // transform: translateY(100px);
  opacity: 0;
  font-family: "futura-light";
  font-size: 2.4em;
  letter-spacing: 40px;
  color: #e6c002;
  animation-duration: 15s;
  // animation-delay: 0.5s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-iteration-count: infinite;
  //   animation: appear-grit 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

@keyframes appear-grit {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes anim-1 {
  0%,
  8.3% {
    bottom: 30%;
    opacity: 0;
  }
  8.3%,
  25% {
    bottom: 32%;
    opacity: 1;
  }
  33.33%,
  100% {
    bottom: 30%;
    opacity: 0;
  }
}

@keyframes anim-2 {
  0%,
  33.33% {
    bottom: 30%;
    opacity: 0;
  }
  41.63%,
  58.29% {
    bottom: 32%;
    opacity: 1;
  }
  66.66%,
  100% {
    bottom: 30%;
    opacity: 0;
  }
}

@keyframes anim-3 {
  0%,
  66.66% {
    bottom: 30%;
    opacity: 0;
  }
  74.96%,
  91.62% {
    bottom: 32%;
    opacity: 1;
  }
  100% {
    bottom: 30%;
    opacity: 0;
  }
}

@keyframes anim-4 {
  0%, 8.3% {bottom: 10%; opacity: 0;}
  8.3%, 25% {bottom: 12%; opacity: 1;}
  33.33%, 100% {bottom: 10%; opacity: 0;}
}

@keyframes anim-5 {
  0%,33.33% {bottom: 10%; opacity: 0;}
  41.63%,58.29% {bottom: 12%; opacity: 1;}
  66.66%,100% {bottom: 10%; opacity: 0;}
}

@keyframes anim-6 {
  0%,66.66% {bottom: 10%;opacity: 0;}
  74.96%,91.62% {bottom: 12%;opacity: 1;}
  100% {bottom: 10%;opacity: 0;}
}

.cricket {
  height: 100%;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  opacity: 0;
  //   animation: fade-in 0.5s linear 0.7s forwards;
  img {
    height: 80%;
    width: auto;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  font-size: 1.2em;
  font-family: "sfpro";
  margin: 0;
  z-index: 20;
  box-sizing: border-box;
  .nav-item {
    padding: 30px;
    color: #fff;
    transition: all 0.1s ease;
    &:hover {
      cursor: pointer;
    }
  }
}

@media all and (max-width: 450px) {
  .grit,
  .guts,
  .glory {
    right: 7%;
    bottom: 10%;
    font-size: 2em;
    letter-spacing: 10px;
  }

  .cricket {
    img {
      height: 57%;
    }
  }

  .navbar {
    display: none;
  }
}

.logo {
  position: absolute;
  top: 20px;
  left: 40px;
  height: 80px;
  width: 80px;
  img {
    height: 100%;
    width: auto;
  }
}

.mobile-ham {
  display: none;
  position: absolute;
  z-index: 30;
  height: 30px;
  width: 30px;
  left: 0;
  top: 0;
  margin-top: 20px;
  margin-left: 20px;
  i {
    font-size: 1.7em;
  }
}

.time {
  position: absolute;
  left: 5%;
  bottom: 5%;
  font-family: "sfpro";
  .timeNum {
    display: flex;
    flex-direction: row;
    font-size: 2.5em;
    letter-spacing: 4px;
    #days,
    #min {
      color: #fff;
    }
    #hrs {
      color: #4a3f7b;
    }
  }
  .timeLabel {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    letter-spacing: 1px;
    font-size: 0.9em;
    #daysLabel,
    #minLabel {
      color: #4a3f7b;
    }
    #daysLabel {
      margin-right: 5px;
    }
    #hrsLabel {
      color: #fff;
      margin-right: 5px;
    }
  }
}

.scroll-downs {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
  width: 34px;
  height: 55px;
  z-index: 20;
}
.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  //   0% { opacity: 0; }
  10% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(15px);
  }
}

.social {
  font-size: 1.3em;
  font-family: "sfpro";
  color: #e6c002;
  position: absolute;
  right: 3%;
  bottom: 6%;
  display: flex;
  flex-direction: row;
  align-items: center;
  letter-spacing: 2px;
  z-index: 20;
  .social-icon {
    margin-left: 20px;
    font-size: 1em;
    height: 30px;
    width: 30px;
    a {
      width: 100%;
      height: 100%;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .social-icon.fb {
    background: url("../img/fb.png") no-repeat center center/cover;
  }
  .social-icon.insta {
    background: url("../img/insta.png") no-repeat center center/cover;
  }
}

.slogan-1,
.slogan-2 {
  position: absolute;
  font-size: 2em;
  color: #4a3f7b;
  font-family: "Futura";
  letter-spacing: 12px;
  transform: translateY(100px);
  opacity: 0;
}

.slogan-1 {
  top: 19%;
  left: 5%;
  animation-delay: 0.3s;
}

.slogan-2 {
  top: 25%;
  left: 13%;
  animation-delay: 0.4s;
}

@media all and (max-width: 450px) {
  .mobile-ham {
    display: block;
  }

  .logo {
    left: 50%;
    transform: translateX(-50%);
    height: 80px;
    width: 80px;
    top: 10px;
  }

  .mousey {
    padding: 10px;
    height: 17px;
  }

  .time {
    bottom: 5px;
    .timeNum {
      font-size: 2em;
      letter-spacing: 1px;
      #hrs {
        color: #F3D331;
      }
    }
    .timeLabel {
      display: none;
    }
  }

  .scroll-downs {
    display: none
  }

  .social {
    bottom: 8px;
    font-size: 1em;
    .label {
      display: none;
    }
    .social-icon {
      font-size: 0.8em;
      height: 30px;
      width: 30px;
    }
  }

  .slogan-1, 
  .slogan-2 {
    font-size: 1.7em;
    letter-spacing: 7px;
  }
  .slogan-1 {
    top: 15%;
    left: 4%;
  }
  .slogan-2 {
    top: 19.5%;
    left: 18%;
  }
}
